// bower:scss
// endbower
$main-color: #333;
$bg-color: #fafafa;
$card-color: #527b52;
$matched-color: #66968f;
$color-border: #ccc;

@mixin fadein() {
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @-ms-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @-o-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

@mixin fadeInAnimation($animation, $duration) {
    -webkit-animation: $animation $durations;
    -moz-animation: $animation $duration;
    -ms-animation: $animation $duration;
    -o-animation: $animation $duration;
    animation: $animation $duration;
}

.browserupgrade {
    margin: 10px 0;
    background: #ccc;
    color: #000;
    padding: 10px 0;
}

body {
    background: $bg-color;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $body-color;
}

.card-container {
    width: 100%;
    display: block;

    //it can be display: flex for better style
    .cards {
        display: inline-block;
        border: 1px solid $color-border;
        height: 250px;
        width: 20%;
        margin: 10px;
        cursor: pointer;
        background-color: $card-color;
        @include fadeInAnimation(fadeIn, 2s);

        &.matched {
            pointer-events: none;
            background-color: $matched-color;
            opacity: 0.2;
        }
        //create sass map for this and iterate
        //TODO create fancy animation
        &.selected {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            &.angular {
                background-image: url(../images/angular.png);
            }
            &.d3 {
                background-image: url(../images/d3.png);
            }
            &.jenkins {
                background-image: url(../images/jenkins.png);
            }
            &.postcss {
                background-image: url(../images/postcss.png);
            }
            &.react {
                background-image: url(../images/react.png);
            }
            &.redux {
                background-image: url(../images/redux.png);
            }
            &.sass {
                background-image: url(../images/sass.png);
            }
            &.supercharge {
                background-image: url(../images/supercharge.png);
            }
            &.ts {
                background-image: url(../images/ts.png);
            }
            &.webpack {
                background-image: url(../images/webpack.png);
            }
        }
    }
}

.tries {
    display: block;
}

#include fadeIn();
